<div class="timeline-date"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     (click)="onClick()">
  <div class="edit">
    <i *ngIf="hoverVisible" class="material-icons">edit</i>
  </div>
  <div class="row date">{{budgetDate.moment.format("MMM Do")}}</div>
  <div *ngIf="budgetDate.onServer">
    <div class="row">Earned ${{budgetDate.income}}</div>
    <div class="row">Spent ${{budgetDate.expenses}}</div>    
  </div>
  <div *ngIf="!budgetDate.onServer" class="incomplete-date">
    ?
  </div>
</div>

<!-- not using -->
<div class="date-hover"
     [style.top.px]="offsetTopHover"
     [style.left.px]="offsetLeftHover"
     *ngIf="true"
     #hover>
     
</div>