<div class="timeline-date"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     (click)="onClick()">
  <div class="row date">{{budgetDate.moment.format("MMM Do")}}</div>
  <div *ngIf="budgetDate.onServer">
    <div class="row">Earned ${{budgetDate.income}}</div>
    <div class="row">Spent ${{budgetDate.expenses}}</div>
  </div>
  <div class="incomplete-day"
       *ngIf="!budgetDate.onServer">
    <div class="row">
        <div *ngIf="!hoverVisible">
          ?
        </div>
        <div *ngIf="hoverVisible">
          <i class="material-icons">
            edit
          </i>
        </div>
    </div>
  </div>
</div>

<!-- not using -->
<div class="date-hover"
     [style.top.px]="offsetTopHover"
     [style.left.px]="offsetLeftHover"
     *ngIf="true"
     #hover>
     
</div>