<div class="timeline-date"
     (onMouseEnter)="onMouseEnter($event)"
     (onMouseLeave)="onMouseLeave()"
     (click)="onClick()">
  <div class="row date">{{budgetDate.moment.format("MMM Do")}}</div>
  <div *ngIf="budgetDate.onServer">
    <div class="row">Earned ${{budgetDate.income}}</div>
    <div class="row">Spent ${{budgetDate.expenses}}</div>
  </div>
        <div *ngIf="!hoverVisible && !budgetDate.onServer">
          ?
        </div>
        <div *ngIf="hoverVisible">
          <i class="material-icons">
            edit
          </i>
        </div>
</div>

<!-- not using -->
<div class="date-hover"
     [style.top.px]="offsetTopHover"
     [style.left.px]="offsetLeftHover"
     *ngIf="true"
     #hover>
     
</div>