.timeline-date:hover {    
}

.date-hover {
    position: absolute;
    height: 50px;
    //width: 200px;
    text-align: center;
    i {
        font-size: 32px;
    }
}

.date:hover {
    cursor: pointer;
    color: #333;
}

.row {
    text-align: center;
    padding: 5px;
}

.date {
    font-size: 20px;
    font-weight: bold;
}

.incomplete-date {
    font-size: 36px;
    text-align: center;
}

.edit {
    height: 30px;
    text-align: center;
    width: 100%;
}