.date {
    font-size: 20px;
    padding: 10px;
    color: #888;
}

.date-today {
    color: #007bff;
}

.date-hover {
    position: absolute;
    left: 100px;
    top: 0;
}

.timeline-date {
    display: inline-block;    
    //padding: 10px 20px;
}

.timeline-date:hover {
    cursor: pointer;
}

app-timeline-date {
    display: inline-block;
    //padding: 10px 20px;
    position: relative;
}