.page {
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.container {
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.today-summary {
    display: flex;
    justify-content: space-around;    

    .today {
        padding: 60px;
        text-align: center;        
    }

    .today-amount {
        font-size: 50px;
        font-weight: bold;
    }

    .today-earned-amount {
        text-align: center;
    }

    .today-spent {
        padding: 60px;
    }

    .today-spent-amount {
        text-align: center;
        font-weight: bold;
    }
}

.row {
    padding-bottom: 10px;
}

label {
    padding-top: 15px;
}

input {
    width: 50%;
}

.input-row {
    height: 125px;
    margin-bottom: 80px;
}

.helper-text {
    color: #888;
    //font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    //width: 70%; // not necessary
    //margin-left: 15%; // remainder of container width 60 - (2 sides = 20% + 20%)
    width: 100%;
}

.summary-today {
    position: absolute;
    left: 50px;
    top: 50px;
}

.logged-days {
    font-size: 24px;
}

.summary-date {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 5px;
}

.budget-summary {
    padding: 15px 0;
    //font-size: 14px;
    .small-text {
        //padding-bottom: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .budget-summary {
        display: none;
    }
}

.spending-input, .earnings-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
    max-width: 300px;
    // margin-left: 15%;
    // width: 70%;
}

.summary-note {
    text-align: center;
}

.today-label {
    font-size: 24px;
}

.completed-input {
    margin-bottom: 80px;
}

/* testing only */
table.time-test {
    td:first-child {
        font-weight: bold;
        padding-right: 20px;
    }
}