<div class="page">
  <div class="summary-today">
    <div class="summary-date">{{currentDay.date}}</div>
    <div class="logged-days row">120 days budgeting</div>
    <div class="budget-summary">
      <div class="total-income row">
        <div class="small-text">You have earned <span class="number-emphasised">$10.39</span></div>        
      </div>
      <div class="total-expenses row">
        <div class="small-text">You have spent <span class="number-emphasised">$32.50</span></div>
      </div>
      <div class="row">
        Average daily spending <span class="number-emphasised">$10.00</span>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row input-row" *ngIf="!spentInputComplete || !earnedInputComplete">
        <div></div>
        <div class="spending-input" *ngIf="!spentInputComplete">
          <label>How much did you spend today?</label>
          <input type="number"
                 [(ngModel)]="currentDay.expenses"
                 (keyup)="onKey($event)"
                 #currentDaySpentInput>
        </div>
        <div class="earnings-input" *ngIf="!earnedInputComplete && spentInputComplete">
          <label>How much did you earn today?</label>
          <input type="number"
                 [(ngModel)]="currentDay.income"
                 (keyup)="onKey($event)"
                 #currentDayEarnedInput>
        </div>
        <div class="helper-text" *ngIf="inputHelperTextVisible">Press enter to continue</div>
    </div>

    <div class="completed-input" *ngIf="spentInputComplete && earnedInputComplete">
      <div class="today-summary">
        <div class="today">
          <div class="today-label">Earned</div>
          <div class="today-amount">${{currentDay.income}}</div>
        </div>
        <div class="today">
          <div class="today-label">Spent</div>
          <div class="today-amount">${{currentDay.expenses}}</div>
        </div>        
      </div>
      <div class="summary-note">
        You saved ${{currentDay.saved}} Remember to log your spending tomorrow
      </div>
      <div class="edit">
        <div class="button">Edit</div>
      </div>
    </div>
    
  </div>
</div>

<app-timeline [budgetDates]="timelineBudgetDates"
              [(editing)]="editingDate"
              class="timeline"></app-timeline>
<div class="right-sidebar">
  <app-goal-status></app-goal-status>
  <app-achievements></app-achievements>
</div>